## Compiled JavaScript files
# **/*.js
# **/*.js.map

# Typescript v1 declaration files
# typings/

# Private Keys
node_modules/
keys/
keys/dev.ts
keys/prod.ts
keys/index.ts
/service-account.json
service-account.json
