**/.DS_Store

functions/keys/
functions/lib/
functions/node_modules/
functions/src/examples/
functions/service-account.json

node_modules/
public/

src/app/
src/components/
src/containers/
src/thunks/
src/styles/
src/util/
