**/.DS_Store

functions/node_modules/
node_modules/

src/actions/app_starter/Chat.js
src/actions/app_starter/Contact.js
src/actions/app_starter/Mail.js
src/actions/app_starter/Setting.js
src/actions/app_starter/ToDo.js

!src/components/wedevlopUI/StripeElementsV2/
