*

!functions/
functions/*
!functions/src/
functions/src/*
!functions/src/stripe/
!functions/src/config.ts
!functions/src/index.ts
!functions/test

!src/
src/*

!src/actions/
src/actions/*
!src/actions/app_starter/
src/actions/app_starter/*
!src/actions/app_starter/Stripe.js

!src/components/
src/components/*
!src/components/wedevlopUI/
src/components/wedevlopUI/*
!src/components/wedevlopUI/StripeElementsV2/
src/components/wedevlopUI/StripeElementsV2/cards/*
src/components/wedevlopUI/StripeElementsV2/styles/*
!src/components/wedevlopUI/StripeElementsV2/styles/style_objects/
!src/components/wedevlopUI/StripeElementsV2/styles/defaultClassNames.js
!src/components/wedevlopUI/StripeElementsV2/styles/defaultStyles.js

!src/containers/
src/containers/*
!src/containers/examples/
src/containers/examples/*
!src/containers/examples/components/
src/containers/examples/components/*
!src/containers/examples/components/wedevlopUI
src/containers/examples/components/wedevlopUI*
!src/containers/examples/components/wedevlopUI/StripeElementsV2/

!src/firebase/
src/firebase/*
!src/firebase/firebase.js

!src/reducers/
src/reducers/*
!src/reducers/app_starter/
src/reducers/app_starter/*
!src/reducers/app_starter/Stripe.js

!src/thunks/
src/thunks/*
!src/thunks/app_starter/
src/thunks/app_starter/*
!src/thunks/app_starter/Stripe.js
!src/thunks/app_starter/Firebase/Stripe.js
