.appstarter-grid-test {
  // Add background-color only if testing float grid and .appstarter-grid-test
  background-color: $appstarter-color-grey-dark;
}

.appstarter-row {
  max-width: $appstarter-grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $appstarter-gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $appstarter-gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
    // max-width: 50rem;
    max-width: 600px;
    // padding: 0 3rem;
    padding: 0 3rem;
  }

  @include clearfix;

  [class^="app-col-"] {
    float: left;

    &:not(:last-child) {
      // margin-right: $appstarter-gutter-horizontal;;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $appstarter-gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .appstarter-col-1-of-2 {
    width: calc((100% - #{$appstarter-gutter-horizontal}) / 2);
  }

  .appstarter-col-1-of-3 {
    width: calc((100% - 2 * #{$appstarter-gutter-horizontal}) / 3);
  }

  .appstarter-col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{$appstarter-gutter-horizontal}) / 3) + #{$appstarter-gutter-horizontal}
    );
  }

  .appstarter-col-1-of-4 {
    width: calc((100% - 3 * #{$appstarter-gutter-horizontal}) / 4);
  }

  .appstarter-col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * #{$appstarter-gutter-horizontal}) / 4) + #{$appstarter-gutter-horizontal}
    );
  }

  .appstarter-col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * #{$appstarter-gutter-horizontal}) / 4) + 2 * #{$appstarter-gutter-horizontal}
    );
  }
}

// .appstarter-row {
//   border: solid red 2px;
//   max-width: 100%;
//   margin: 0 auto !important;
//   padding: 0 !important;
//   box-sizing: border-box !important;
//   /* set row min and max width */
//
//   /*   display: flex;
//   flex-direction: row; */
//
//   /* Needed to maintain floats (columns) inside this row div */
//   overflow: hidden;
//
//   &:not(:last-child) {
//   }
//
//   &::after {
//     content: "";
//     display: table;
//     clear: both;
//   }
//
//   // responsiveness
// }
//
// .appstarter-col-1-of-1 {
//   border: solid blue 2px;
//   height: 20px;
//   width: calc(100% - 5px);
//   float: left;
//   /* set column min and max width */
// }
//
// .appstarter-col-1-of-2 {
//   border: solid blue 2px;
//   height: 20px;
//   /*     width: calc((100% - 2 * 5px) / 2); */
//   width: calc((100% - 8 * 1px) / 2);
//   float: left;
//   /* set column min and max width */
// }
//
// .appstarter-col-1-of-3 {
//   border: solid blue 2px;
//   height: 20px;
//   width: calc((100% - 2.5 * 5px) / 3);
//   float: left;
//   /* set column min and max width */
// }
//
// .appstarter-col-1-of-4 {
//   border: solid blue 2px;
//   height: 20px;
//   width: calc((100% - 3.25 * 5px) / 4);
//   /*   width: calc((100%) / 4); */
//   float: left;
//   /* set column min and max width */
//
//   min-width: 400px !important;
//   /*   max-width: calc((100% - 3 * 5px) / 4) !important; */
// }
//
// /* Pass classes for Form MainRow and Form Columns */
// /* Pass classes for Form Row and Row Columns */
