// $wedevlopUI-bg-radial-gradient: radial-gradient(circle, #3b0286, #37027c, #320272, #2e0269, #2a025f, #1d0c5b, #0e1156, #001450, #00194a, #001c41, #001d37, #051d2c);
// @mixin wedevlopUI-bg-radial-gradient {
// 	background-image: $wedevlopUI-bg-radial-gradient !important;
// }

.wedevlopUI-sidebar {
  &__container {
		// border: solid lightgreen .25rem !important;
		// background-color: rgba(0,0,0,0);
		background-color: gray;
		// background-image: radial-gradient(circle, #3b0286, #37027c, #320272, #2e0269, #2a025f, #1d0c5b, #0e1156, #001450, #00194a, #001c41, #001d37, #051d2c);

		width: 100%;
		height: 100%;
		// overflow-y: scroll !important;
		position: relative !important;

		@mixin wedevlopUI-sidebar-title {
			// border: solid pink .25rem !important;
			display: flex !important;
			flex-direction: column !important;
			justify-content: center !important;
			align-items: center !important;

			width: 100%;
			height: 20%;
			min-height: 6rem !important;
			max-height: 10rem !important;
		}
		&--title {
			// border: solid green .25rem !important;
			@include wedevlopUI-sidebar-title;
			background-color: rgba(0,0,0,.75);

			// @include wedevlopUI-bg-radial-gradient;
			// background-image: radial-gradient(circle, #3b0286, #37027c, #320272, #2e0269, #2a025f, #1d0c5b, #0e1156, #001450, #00194a, #001c41, #001d37, #051d2c);
			background-color: white;

			// backdrop-filter: blur(0.8rem) !important;

			display: flex !important;
			flex-direction: row !important;
			justify-content: center !important;
			align-items: center !important;

			// color: white;
			color: gray;
			font-size: 3rem !important;
			font-weight: bold;
      // border-bottom-left-radius: 2rem !important;
      // border-bottom-right-radius: 5rem !important;
		}

		&--menu {
			// border: solid yellow .25rem !important;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			width: 100%;
			height: 80%;
			padding: 0rem !important;
		}

		&--ul {
			// border: solid blue .25rem !important;
			width: 100%;
			// height: 100%;
			margin: 0rem !important;
			overflow-y: scroll !important;
			text-align: center;
      padding: 2rem 0rem !important;
		}

		&--li {
			// border: solid orange .25rem !important;
			width: 100%;
			// height: 10rem !important;
			display: flex !important;
			flex-direction: column !important;
			justify-content: center !important;
			align-items: center !important;

      &:not(:last-child) {
        margin-bottom: 2rem !important;
      }

      // &--group-first {
      //   &:not(:last-child) {
      //     margin-bottom: .25rem !important;
      //   }
      // }
      // &--group-mid {
      //   &:not(:last-child) {
      //     margin-bottom: .25rem !important;
      //   }
			//
      // }
      // &--group-last {
			//
      // }
		}

		&--li-selected {
			border: solid white .25rem !important;
			width: 100%;
			display: flex !important;
			flex-direction: column !important;
			justify-content: center !important;
			align-items: center !important;
      &:not(:last-child) {
        margin-bottom: 2rem !important;
      }
		}

		&--close-btn {
			// border: solid white .25rem !important;
			display: flex !important;
			flex-direction: row !important;
			justify-content: center !important;
			align-items: center !important;
		}
	}

	&__text {
		&--title {}
	}

	&__btn {
		&--close {
			border: solid white .25rem !important;
			border-radius: 50rem !important;

			display: flex !important;
			flex-direction: row !important;
			justify-content: center !important;
			align-items: center !important;

			padding: .5rem !important;
			margin: 0 !important;

			text-decoration: none !important;
			color: white !important;
			font-size: 2.5rem !important;
			line-height: normal !important;
		}
		&--menu-item {
			// border: solid brown .25rem !important;

			// background-color: rgba(0,0,0,0.15);
      background-color: rgba(255,255,255,0.05);
      width: 90%;
			padding: 1rem !important;
			border-radius: 5rem !important;

			display: flex !important;
			flex-direction: row !important;
			justify-content: center !important;
			align-items: center !important;

			font-size: 1.8rem !important;
			color: white;
			&:hover {
        background-color: rgba(255,255,255,0.1);
				color: white;
				text-decoration: none !important;
			}

      // &--group-first {
      //   border-top-left-radius: 2.5rem !important;
      //   border-top-right-radius: 2.5rem !important;
      //   border-bottom-left-radius: 0rem !important;
      //   border-bottom-right-radius: 0rem !important;
      // }
      // &--group-mid {
      //   border-radius: 0rem !important;
      // }
      // &--group-last {
      //   border-top-left-radius: 0rem !important;
      //   border-top-right-radius: 0rem !important;
      //   border-bottom-left-radius: 2.5rem !important;
      //   border-bottom-right-radius: 2.5rem !important;
      // }
		}
		&--menu-item-selected {
			background-color: lightGreen !important;
			width: 90%;
			padding: 1rem !important;
			border-radius: 5rem !important;
			display: flex !important;
			flex-direction: row !important;
			justify-content: center !important;
			align-items: center !important;
			font-size: 1.8rem !important;
			color: white;
			&:hover {
				background-color: rgba(255,255,255,0.1);
				color: white;
				text-decoration: none !important;
			}
		}

	}
}
