// CONTAINERS ------------------------------------------------------------------

@mixin relativeContainerFullWH {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  // background-color: rgba(yellow, 0.5);
}

@mixin absoluteContainerFullWH {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  // background-color: rgba(yellow, 0.5);
}

// FLEX ------------------------------------------------------------------------

// @mixin topLeftColumnContentStyle {
@mixin flexColumnTopLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
// @mixin topCenterColumnContentStyle {
@mixin flexColumnTopCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
// @mixin topRightColumnContentStyle {
@mixin flexColumnTopRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
// @mixin centerLeftColumnContentStyle {
@mixin flexColumnCenterLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
// @mixin centerColumnContentStyle {
@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// @mixin centerRightColumnContentStyle {
@mixin flexColumnCenterRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
// @mixin bottomLeftColumnContentStyle {
@mixin flexColumnBottomLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
// @mixin bottomCenterColumnContentStyle {
@mixin flexColumnBottomCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
// @mixin bottomRightColumnContentStyle {
@mixin flexColumnBottomRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

// @mixin topLeftRowContentStyle {
@mixin flexRowTopLeft {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
// @mixin topCenterRowContentStyle {
@mixin flexRowTopCenter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
// @mixin topRightRowContentStyle {
@mixin flexRowTopRight {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
// @mixin centerLeftRowContentStyle {
@mixin flexRowCenterLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
// @mixin centerRowContentStyle {
@mixin flexRowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
// @mixin centerRightRowContentStyle {
@mixin flexRowCenterRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
// @mixin bottomLeftRowContentStyle {
@mixin flexRowBottomLeft {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
// @mixin bottomCenterRowContentStyle {
@mixin flexRowBottomCenter {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
// @mixin bottomRightRowContentStyle {
@mixin flexRowBottomRight {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

// Content Layout --------------------------------------------------------------

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// ------------------------------

@mixin absCenter {
  // background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absXCenter {
  // background-color: red;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absYCenter {
  // background-color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// ------------------------------

@mixin absTopLeft {
  // background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

@mixin absTopCenter {
  // background-color: red;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absTopRight {
  // background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}

@mixin absCenterLeft {
  // background-color: red;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@mixin absCenterRight {
  // background-color: red;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@mixin absBottomLeft {
  // background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}

@mixin absBottomCenter {
  // background-color: red;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absBottomRight {
  // background-color: red;
  position: absolute;
  bottom: 0;
  right: 0;
}

// Responsive Media Queries ----------------------------------------------------

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
// USAGE
// @include respond(phone) {}
// @include respond(tab-port) {}
// @include respond(tab-land) {}
// @include respond(big-desktop) {}
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
