// COLORS
$appstarter-color-primary: #55c57a;
$appstarter-color-primary-light: #7ed56f;
$appstarter-color-primary-dark: #28b485;

$appstarter-color-secondary: #ffb900;
$appstarter-color-secondary-light: #ffb900;
$appstarter-color-secondary-dark: #ff7730;

$appstarter-color-tertiary: #2998ff;
$appstarter-color-tertiary-light: #2998ff;
$appstarter-color-tertiary-dark: #5643fa;

$appstarter-color-quaternary: #55c57a;
$appstarter-color-quaternary-light: #7ed56f;
$appstarter-color-quaternary-dark: #28b485;

$appstarter-color-quinary: #55c57a;
$appstarter-color-quinary-light: #7ed56f;
$appstarter-color-quinary-dark: #28b485;

$appstarter-color-senary: #55c57a;
$appstarter-color-senary-light: #7ed56f;
$appstarter-color-senary-dark: #28b485;

$appstarter-color-septenary: #55c57a;
$appstarter-color-septenary-light: #7ed56f;
$appstarter-color-septenary-dark: #28b485;

$appstarter-color-octonary: #55c57a;
$appstarter-color-octonary-light: #7ed56f;
$appstarter-color-octonary-dark: #28b485;

$appstarter-color-nonary: #55c57a;
$appstarter-color-nonary-light: #7ed56f;
$appstarter-color-nonary-dark: #28b485;

$appstarter-color-denary: #55c57a;
$appstarter-color-denary-light: #7ed56f;
$appstarter-color-denary-dark: #28b485;

//

$appstarter-color-grey-light-1: #f7f7f7;
$appstarter-color-grey-light-2: #eee;

$appstarter-color-grey-dark: #777;
$appstarter-color-grey-dark-2: #999;
$appstarter-color-grey-dark-3: #333;

$appstarter-color-white: #fff;
$appstarter-color-black: #000;

// FONT
$appstarter-default-font-size: 1.6rem;

// GRID
$appstarter-grid-width: 114rem;
$appstarter-gutter-vertical: 8rem;
$appstarter-gutter-vertical-small: 6rem;
$appstarter-gutter-horizontal: 6rem;
