// Position  -------------------------------------------------------------------
// since position is absolute
// make sure parent and grand parent are relative
// and width/height set to 100% if fullscreen desired
// Z Index  --------------------------------------------------------------------
// Is set to -1 thinkking you want it as background
// make sure parent opacity is set to a value range of 1
// Use /src/components/wedevlopUI/MyBackgroundVideo
// if you want children components inside the bg video
// MyBackgroundVideo needs a fix to work with iOS Safari
// USAGE -----------------------------------------------------------------------
// import mp4VideoSrc from "../../assets/app-obbers/Under-construction.mp4";
// import webmVideoSrc from "../../assets/app-obbers/Under-construction.webm";
// import bgImgSrc from "../../assets/app-obbers/Under-construction.jpg";
//
// <div className="appstarter-bg-video">
//   <video
//     className="appstarter-bg-video__content"
//     // controls
//     // width="100%"
//     // height="100%"
//     // preload
//     autoPlay
//     loop
//     muted
//     playsInline={true}
//     disablePictureInPicture={true}
//     // poster={bgImgSrc}
//   >
//     {/* type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' */}
//     {/* type='video/webm;codecs="vp8, vorbis"' */}
//     <source src={mp4VideoSrc} type="video/mp4" />
//     <source src={webmVideoSrc} type="video/webm" />
//     {/*Your browser does not support the video tag.*/}
//   </video>
// </div>
// GOTCHAS ---------------------------------------------------------------------
// Make sure parent div position is relative
// Make sure parent div css property background-color is not declared
// If none of the above, add css property and try values 1 or 0
.appstarter-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh !important;
  width: 100%;
  z-index: -1;
  opacity: 1;
  overflow: hidden;

  &__content {
    height: 100vh !important;
    width: 100% !important;
    object-fit: cover !important;
  }
}
