// .appstarter-btn {
//   &:link,
//   &:visited {
//     text-transform: uppercase;
//     text-decoration: none;
//     padding: 15px 40px;
//     display: inline-block;
//     border-radius: 100px;
//     transition: all 0.2s;
//     position: relative; /* Cause our .appstarter-btn::after is absolute, and this is the parent, if children is position:absolute then parent should be position:relative  */
//   }
//
//   &:hover {
//     transform: translateY(-3px);
//     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
//
//     &::after {
//       transform: scaleX(1.4) scaleY(1.6);
//       opacity: 0;
//     }
//   }
//
//   &:active {
//     transform: translateY(-1px);
//     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//   }
//
//   &--white {
//     background-color: #fff;
//     color: #777;
//
//     &::after {
//       background-color: #fff;
//     }
//   }
//
//   &::after {
//     /* content and display properties must be added, otherwise it wont work. */
//     content: "";
//     display: inline-block;
//
//     height: 100%;
//     width: 100%;
//     border-radius: 100px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
//     transition: all 0.4s;
//   }
//
//   &--anim {
//     /* animation: @keyrame name, duration, animFunction, delay */
//     animation: moveInBottom 0.5s ease-out 0.75s;
//     /* animation-fill-mode */
//     /* Automatically applies the styles in the @keyframe anim 0% {} before the amimation starts */
//     animation-fill-mode: backwards;
//   }
// }

// *****************************************************************************

.appstarter-btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $appstarter-default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($appstarter-color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($appstarter-color-black, 0.2);
  }

  &--white {
    background-color: $appstarter-color-white;
    color: $appstarter-color-grey-dark;

    &::after {
      background-color: $appstarter-color-white;
    }
  }

  &--green {
    background-color: $appstarter-color-primary;
    color: $appstarter-color-white;

    &::after {
      background-color: $appstarter-color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.appstarter-btn-text {
  &:link,
  &:visited {
    font-size: $appstarter-default-font-size;
    color: $appstarter-color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $appstarter-color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $appstarter-color-primary;
    color: $appstarter-color-white;
    box-shadow: 0 1rem 2rem rgba($appstarter-color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($appstarter-color-black, 0.15);
    transform: translateY(0);
  }
}

.appstarter-btn-search {
  &,
  &:link,
  &:visited {
    height: 70px;
    // float: left;
    //

    text-transform: uppercase;
    text-decoration: none;
    // padding: 1.5rem 4rem;
    padding: 10px;
    // display: inline-block; // need to show button next to the input
    display: none;
    // border-radius: 100px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.2s;
    position: relative;
    // font-size: $appstarter-default-font-size;
    font-size: 18px;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($appstarter-color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($appstarter-color-black, 0.2);
  }

  &--white {
    background-color: $appstarter-color-white;
    color: $appstarter-color-grey-dark;

    &::after {
      background-color: $appstarter-color-white;
    }
  }

  &--green {
    background-color: $appstarter-color-primary;
    color: $appstarter-color-white;

    &::after {
      background-color: $appstarter-color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
