.appstarter-form {
  &__group:not(:last-child) {
    // margin-bottom: 2rem;
  }

  &__input {
    text-transform: uppercase;
    // text-align: center;
    // border-top-left-radius: 8px;
    // border-bottom-left-radius: 8px;
    //
    // font-size: 1.5rem;
    font-size: 18px;
    font-family: inherit;
    // color: inherit;
    color: white;
    padding: 1rem 1rem !important;
    // border-radius: 12px;
    // background-color: rgba($appstarter-color-white, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: 0.3rem solid transparent;
    width: 100%;
    height: 7rem;
    // display: block; // width will be set only to its content size
    // display: inline-block; // needed to show search button next to it
    transition: all 0.3s;

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($appstarter-color-black, 0.1);
      // border-bottom: 3px solid $appstarter-color-primary;
      border-bottom: 0.3rem solid lightGreen;
    }

    &:focus:invalid {
      // border-bottom: 3px solid $appstarter-color-secondary-dark;
      border-bottom: 0.3rem solid lightGray;
    }

    &::-webkit-input-placeholder {
      // color: $appstarter-color-grey-dark-2;
      color: $appstarter-color-grey-dark-2;
      font-size: 18px;
    }
  }

  &__label {
    color: white;
    text-transform: uppercase;
    //
    // font-size: 1.2rem;
    font-size: 18px;
    font-weight: 700;
    // margin-left: 2rem;
    margin-left: 1px;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    // transform: translateY(-4rem);
    transform: translateY(-3rem);
    // transform: translateY(3rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $appstarter-default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $appstarter-color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $appstarter-color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
