// @keyframe animations:
//   /* Fix weird shake animation */
//   backface-visibility: hidden;

// Calling anim on element class:
// animation: moveInBottom 0.5s ease-out 0.75s;
// animation-fill-mode: backwards;

/* https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
  }
  100% {
    opacity: 0;
  }
}

/* Best if
animation-duration: 5s; */
@keyframes moveInLeft1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Best if
animation-duration: 1s; */
@keyframes moveInLeft2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Best if
animation-duration: 1s; */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  50% {
    transform: rotate(-30deg);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

/* Best if
animation-duration: 1s; */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    // transform: translate(0);
    transform: translateY(0);
  }
}

/* Best if
animation-duration: 1s; */
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes absMoveInBottom {
  0% {
    opacity: 0;
    margin-bottom: 0;
    // background-color: blue;
  }
  100% {
    opacity: 1;
    // background-color: red;
  }
}

@keyframes rotate360Left {
  0% {
  }
  50% {
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes zoomIn {
  0% {
  }
  50% {
  }
  100% {
    transform: translate(1.5);
  }
}

// transform: scale(1.25);

// transform: skewY(2deg) skewX(15deg) scale(1.1);
