// Is better to add classes, ubstead of applying this to all *
// since styles found at /src/styles/app_base/app.scss will not work properly
*,
*::after,
*::before {
  // margin: 0 !important;
  // padding: 0 !important;
  // box-sizing: inherit !important;
}

html {
  // This defines what 1rem is
  font-size: 62.5% !important; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(phone) {
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50% !important; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25% !important; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75% !important; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box !important;
  // padding: 3rem !important;

  // -----------------------------------------------------------------------------
  // IF USING 7-1 ARCHITECTURE, ADD THIS TEXT PROPERTIES IN:
  // body {} at /base/_typography.scss
  // -----------------------------------------------------------------------------
  // Verdana, Geneva, sans-serif
  // Tahoma, Geneva, sans-serif
  // "Lucida Sans Unicode", "Lucida Grande", sans-serif
  // Arial, Helvetica, sans-serif
  // "Courier New", Courier, monospace
  // "Lucida Console", Monaco, monospace
  font-family: Verdana, Geneva, sans-serif !important;
  // font-family: "Harabara Bold" !important;
  font-weight: 400 !important;
  // font-size: 16px !important;
  line-height: 1.7 !important;
  color: $appstarter-color-grey-dark !important;
  // padding: 3rem !important;
  // -----------------------------------------------------------------------------

  @include respond(tab-port) {
    // padding: 0rem !important;
  }
}

// -----------------------------------------------------------------------------
// TEXT SELCTION COLOR
// -----------------------------------------------------------------------------

* {
  // p {
  &::selection {
    // background-color: #ef5b24 !important;
    // color: $appstarter-color-white !important;
  }
}

// -----------------------------------------------------------------------------
// SCROLLBAR
// -----------------------------------------------------------------------------

// ALLOW SCROLL BUT HIDE SCROLLBAR
// https://stackoverflow.com/questions/25095539/allow-scroll-but-hide-scrollbar
// or
// ::-webkit-scrollbar {display:none;}
// but doesnt work on firefox

// .appstarter-scrollbar {
// @mixin scrollBarSettings {
div {
  /* width */
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 20px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // background: #f1f1f1;
    background: #888;
    width: 90%;
    height: 90%;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: lightGreen;
    width: 90%;
    height: 90%;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    // background: #555;
    background: lightBlue;
  }
}
